.wrapper {
  --color-name: var(--color-violet);
  margin-top: 45px;
}

.person__name {
  padding: var(--spacing-small);
  font-size: var(--font-size-subheader);
  background-color: var(--color-violet);
  color: var(--color-white);
  font-weight: var(--font-bold);
  border-radius: var(--border-radius-small);
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-left: 5px solid var(--color-violet);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-small);
}
